<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <!--log4Net-->
  <log4net debug="false">

    <!--logger 根节点配置-->
    <root>
      <!--日志级别-->
      <level value="ALL" />
      <!--启用输出到文件-->
      <appender-ref ref="InfoAppender" />
    </root>

    <logger name="loginfo" additivity="false">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ColoredConsoleAppender" />      
    </logger>
    <logger name="logwarn" additivity="false">
      <level value="WARN" />
      <appender-ref ref="WarnAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </logger>
    <logger name="logerror" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <!--<appender-ref ref="ADONetAppender" />-->
    </logger>
    <logger name="logsysteminfo" additivity="false">
      <level value="INFO" />
      <appender-ref ref="SystemInfoAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </logger>
    <logger name="logdebug" additivity="false">
      <!--已经设置为关闭调试，如果需要输出调试，只需把level设置为debug即可-->
      <!--<level value="OFF" />-->
      <level value="DEBUG" />
      <appender-ref ref="DebugAppender" />
    </logger>

    <!--输出到文件  普通信息级类型-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志存放路径 ***需要自行修改路径和程序名***-->
      <file value="c:/log/Sys.Safety.Client.GraphDefine/info/" />
      <!--是否可以追加-->
      <appendToFile value="true" />
      <!--产生多个文件时，文件计数格式-->
      <CountDirection value="1"/>
      <!--动态日志文件名的格式 ***需要自行修改程序名称***  -->
      <datePattern value="yyyyMMdd/&quot;Sys.Safety.Client.GraphDefine_info_&quot;yyyyMMddHH&quot;.log&quot;" />
      <!--是否为固定路径-->
      <StaticLogFileName value="false" />
      <!--如产生多个文件时，最多文件数-->
      <maxSizeRollBackups value="999" />
      <!--每个文件大小-->
      <maximumFileSize value="100MB" />
      <!--产生多个文件名命名方式，时间、日志大小、组合模式-->
      <rollingStyle value="Composite" />
     <encoding type="System.Text.UTF8Encoding" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-d{yyyy/MM/dd HH:mm:ss,fff} Level:%level Thread:%thread Method:%method Message:%m %n" />
      </layout>
    </appender>

    <!--输出到文件  警告信息类型-->
    <appender name="WarnAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志存放路径-->
      <file value="c:/log/Sys.Safety.Client.GraphDefine/warn/" />
      <!--是否可以追加-->
      <appendToFile value="true" />
      <!--产生多个文件时，文件计数格式-->
      <CountDirection value="1"/>
      <!--动态日志文件名的格式-->
      <datePattern value="yyyyMMdd/&quot;Sys.Safety.Client.GraphDefine_warn_&quot;yyyyMMddHH&quot;.log&quot;" />
      <!--是否为固定路径-->
      <StaticLogFileName value="false" />
      <maxSizeRollBackups value="999" />
      <maximumFileSize value="100MB" />
      <rollingStyle value="Composite" />
     <encoding type="System.Text.UTF8Encoding" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-3d{yyyy/MM/dd HH:mm:ss,fff} Level:%level Thread:%thread Method:%method Message:%m %n" />
      </layout>
    </appender>

    <!--输出到文件  错误信息类型-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志存放路径-->
      <file value="c:/log/Sys.Safety.Client.GraphDefine/error/" />
      <!--是否可以追加-->
      <appendToFile value="true" />
      <!--产生多个文件时，文件计数格式-->
      <CountDirection value="1"/>
      <!--动态日志文件名的格式-->
      <datePattern value="yyyyMMdd/&quot;Sys.Safety.Client.GraphDefine_error_&quot;yyyyMMddHH&quot;.log&quot;" />
      <!--是否为固定路径-->
      <StaticLogFileName value="false" />
      <maxSizeRollBackups value="999" />
      <maximumFileSize value="100MB" />
      <rollingStyle value="Composite" />
     <encoding type="System.Text.UTF8Encoding" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-3d{yyyy/MM/dd HH:mm:ss,fff} Level:%level Thread:%thread Method:%method Message:%m %n" />
      </layout>
    </appender>

    <!--输出到文件 系统信息类型-->
    <appender name="SystemInfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志存放路径-->
      <file value="c:/log/Sys.Safety.Client.GraphDefine/system/" />
      <!--是否可以追加-->
      <appendToFile value="true" />
      <!--产生多个文件时，文件计数格式-->
      <CountDirection value="1"/>
      <!--动态日志文件名的格式-->
      <datePattern value="yyyyMMdd/&quot;Sys.Safety.Client.GraphDefine_ps_&quot;yyyyMMddHH&quot;.log&quot;" />
      <!--是否为固定路径-->
      <StaticLogFileName value="false" />
      <maxSizeRollBackups value="999" />
      <maximumFileSize value="100MB" />
      <rollingStyle value="Composite" />
     <encoding type="System.Text.UTF8Encoding" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-3d{yyyy/MM/dd HH:mm:ss,fff} Level:%level Thread:%thread Method:%method Message:%m %n" />
      </layout>
    </appender>

    <!--输出到文件 调试信息类型-->
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志存放路径-->
      <file value="c:/log/Sys.Safety.Client.GraphDefine/debug/" />
      <!--是否可以追加-->
      <appendToFile value="true" />
      <!--产生多个文件时，文件计数格式-->
      <CountDirection value="1"/>
      <!--动态日志文件名的格式-->
      <datePattern value="yyyyMMdd/&quot;Sys.Safety.Client.GraphDefine_debug_&quot;yyyyMMddHH&quot;.log&quot;" />
      <!--是否为固定路径-->
      <StaticLogFileName value="false" />
      <maxSizeRollBackups value="999" />
      <maximumFileSize value="100MB" />
      <rollingStyle value="Composite" />
     <encoding type="System.Text.UTF8Encoding" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-3d{yyyy/MM/dd HH:mm:ss,fff} Level:%level Thread:%thread Method:%method Message:%m %n" />
      </layout>
    </appender>

    <!--日志输出到数据库-->
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <!--日志缓存条数，即多少条就存入数据库-->
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="server=192.168.1.136;database=MacManage;user id=sa;password=123456"/>
      <commandText value="INSERT INTO CBF_RunLog ([CreateDate],[ThreadNumber],[LogLevel],[Logger],[MessageContent],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    
    <!--输出到控制台-->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender" >
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Green" />
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-30d{yyyy/MM/dd HH:mm:ss} [%level] %m %n"/>
      </layout>
    </appender>
    
  </log4net>
</configuration>



