<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <!-- 客户等相关信息配置 -->
    <add key="CompanyName" value="XXX有限公司"/> 
		<add key="SoftName" value="ZhzSoft"/>
		<add key="SoftFullName" value="煤矿安全监控系统"/>
		<add key="Version" value="V1.0" />
    <!-- 判断是否自动登录，0需要用户名和密码 1默认管理员登录 -->
    <add key="AutoLogoIn" value="0"/>
    <add key="AutoLogoUser" value="admin"/>
    <add key="AutoLogoPass" value="123456"/>
    <!-- 默认加载的菜单类型 -->
    <add key="MenuType" value="1"/>
 	</appSettings>
</configuration>