<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--热备-主机默认数据库配置-->
    <add key="activeDbIp" value="127.0.0.1"/>
    <add key="activeDbUserName" value="root"/>
    <add key="activeDbPassword" value="root123"/>
    <add key="activeDbName" value="safety"/>
    <!--热备-备机默认数据库配置-->
    <add key="standbyDbIp" value="127.0.0.1"/>
    <add key="standbyDbUserName" value="root"/>
    <add key="standbyDbPassword" value="root123"/>
    <add key="standbyDbName" value="safety"/>
    <!--同步账号-->
    <add key="syncUserName" value="repl"/>
    <add key="syncPassword" value="123456"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
