<?xml version="1.0"?>
<configuration>
  <configSections>
   
  </configSections>
  <appSettings>
    <!--服务的部署方式 local wcf remoting-->
    <add key="ServiceType" value="wcf"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <!--本地缓存路径-->
    <add key="LocalCachePath" value="C:\logCache"/>
    <!--缓存达到多少条记录以上转存文件-->
    <add key="CacheToFileCount" value="100"/>   

    <!--自动清除日志配置-->
    <!--是否自动清除数据库日志-->
    <add key="AutoClearDBLog" value="0"/>
    <!--是否自动清除本地日志-->
    <add key="AutoClearLocalLog" value="1" />
    <!--清除多久以前的日志（单位：月）-->
    <add key="AutoClearLogMonth" value="1"/>

    <!--自动启动服务端的路径（为空表示，不启动服务端程序）-->
    <!--<add key="AutoStartServerPath" value="E:\项目开发资料\11.安全监控系统2017\外网SVN\Win\Sys.Safety.ProcessingHost\bin\Debug" />-->
    <add key="AutoStartServerPath" value=""/>
    <!--服务端进程名称-->
    <add key="AutoStartServerExeName" value="Sys.Safety.ProcessingHost"/>

    <!--核心服务程序IP-->
    <add key="ServerIp" value="127.0.0.1"/>
    <!--核心服务程序端口号-->
    <add key="ServerPort" value="36000"/>
    <!--应急联动实时WEB页面地址-->
    <add key="RealLinkageWebUrl" value="http://www.baidu.com"/>

    <!--临汾要求显示主备机身份（此时客户端和服务端、采集要求要安装在一起。），不显示当前主备机状态-->
    <add key="ShowZbInfo" value="1"/>
  </appSettings>
 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="1.2.1.0-1.2.15.0" newVersion="1.2.13.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>
