<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <!--核心服务程序IP-->
    <add key="ServerIp" value="127.0.0.1"/>
    <!--核心服务程序端口号-->
    <add key="ServerPort" value="36000"/>

    <!--HA双机热备路径 -->
    <add key="HAPath" value="HA\BackConfig.ini" />

    <!--是否自动清除本地日志-->
    <add key="AutoClearLog4netLog" value="true"/>
    <!--本地日志输出路径-->
    <add key="Log4netFilePath" value="c:/log/Sys.Safety.Statistics/DataAnalysis/"/>
    <!--清除多久前的日志-->
    <add key="ClearTimeLongAgo" value="30"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>