<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="AppName" value="Sys.Safety.Server.ConsoleHost" />
    <add key="ConfigCenter" value="127.0.0.1:6379" />
    <add key="EnableConifgCenter" value="false" />
    <add key="EnableRPC" value="false" />
    <!--*****************进程间通讯RPC配置相关****************-->
    <!--RPC类型（1：Webapi; 2:Grpc）-->
    <add key="RpcModel" value="1"/>
    <!--Rpc远程服务器（网关）IP-->
    <add key="RpcRemoteIp" value="127.0.0.1"/>
    <!--Rpc远程服务器（网关）端口号-->
    <add key="RpcRemotePort" value="37000"/>
    <!--Rpc本地服务器（核心服务）IP-->
    <add key="RpcLocalIp" value="127.0.0.1"/>
    <!--Rpc本地服务（核心服务）器端口号-->
    <add key="RpcLocalPort" value="36000"/>
    <!--*****************数据库配置相关************************-->
    <!--数据库IP-->
    <add key="dbIp" value="127.0.0.1" />
    <!--数据库端口-->
    <add key="dbPort" value="3306" />
    <!--数据库用户名-->
    <add key="dbUserName" value="root" />
    <!--数据库密码-->
    <add key="dbPassword" value="root123" />
    <!--数据库名称-->
    <add key="dbName" value="safety2019hj" />

    <!--HA双机热备路径 -->
    <add key="HAPath" value="HA\BackConfig.ini" />

    <!--是否写RPC调试日志   20170713-->
    <add key="IsWriteRpcLog" value="false" />
    
    <!--数据处理入库失败文件保存路径-->
    <add key="FileDataToDbPath" value="C:\LocalDb"/>

    <!--是否自动清除本地日志-->
    <add key="AutoClearLog4netLog" value="true"/>
    <!--本地日志输出路径-->
    <add key="Log4netFilePath" value="c:/log/Sys.Safety.Server.ConsoleHost/"/>
    <!--清除多久前的日志-->
    <add key="ClearTimeLongAgo" value="60"/>

    <!--本地缓存路径-->
    <add key="LocalCachePath" value="C:\logCache"/>
    <!--缓存达到多少条记录以上转存文件-->
    <add key="CacheToFileCount" value="100"/>
    
    <add key="ProductCode" value="756E7014A7B386A2" />
    
    <!--缓存是否启用MongoDB-->
    <add key="MongoDBEnable" value="false"/>
    <add key="MongoDBConnectionString" value="mongodb://127.0.0.1:27017/Safety"/>  

    <!--*****************应急联动配置相关************************-->
    <!--是否启用应急联动-->
    <add key="EmergencyLinkageEnable" value="0" />
    <!--应急联动WCF服务器IP-->
    <add key="EmergencyLinkageServerUri" value="http://127.0.0.1:39662/Service1.svc" />   
    <!--应急联动数据库IP-->
    <add key="EmergencyLinkageDbConnectionString" value="Server=127.0.0.1;User Id=sa;Password=mas123MAS;Database=Monitor;" /> 
  </appSettings>

  <connectionStrings>
    <add name="mysql" connectionString="Server=127.0.0.1;Port=3306;User Id=root;Password=root123;Database=safety2019;CharSet=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>-->
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>